.spotlight-frame
{
    width: 70vw;
    height: 50vh;

    margin: auto;
    background-color: aliceblue;
    display: flex;
    align-items: center;
}


.spotlight-frame span
{
 font-size: x-large;
 font-weight: bolder;
 display: inline-block;
 cursor: pointer;
 text-shadow: 1px 1px black;
}
.spotlight-cover
{
    display: flex;
    overflow: auto;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.spotlight-cover  div
{
    flex-shrink: 0;
    width: 65vw;
    height: 40vh;
    background-color: gold;
    border: 1px solid black;
    display: none;
}

.spotlight-cover div[index="1"]
{
    display: block;
}
.spotlight-cover div[index="2"]
{
    background-color: aqua;
}
.spotlight-cover div[index="3"]
{
    background-color: blue;
}
div[index="4"]
{
    background-color: brown;
}

.spot-circles{
    display: flex;
    width: 70vw;
    margin: auto;
    justify-content: center;
    gap: 5px;

}
.circle
{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.466);
}