.spotlight-frame
{
    width: 70vw;
    height: 50vh;

    margin: auto;
    background-color: aliceblue;
    display: flex;
    align-items: center;
}


.spotlight-frame span
{
 font-size: x-large;
 font-weight: bolder;
 display: inline-block;
 cursor: pointer;
 text-shadow: 1px 1px black;
}
.spotlight-cover
{
    display: flex;
    overflow: auto;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.item
{
    flex-shrink: 0;
    width: 65vw;
    height: 40vh;
    background-color: gold;
    border: 1px solid black;
    
}